/* Donation message */

#donation-message {
  background: #eee;
  overflow: auto;
  padding: 1em;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #ddd;
  margin-bottom: 2em;
}

span.highlight {
  background: yellow;
}

span.underlined {
  border-bottom: 3px solid #9f73d2;
}

#donation-message p {
  margin-bottom: 0.5em;
}
